$table-header: green;
$table-header-border: black;
$table-border: #d9d9d9;
$row-bg: #f4f2f1;

div {
  box-sizing: border-box;
}

.table-container {
  display: block;
  margin: 1em 1em;
  width: 90%;
  max-width: 600px;
  border: 1px solid black;
}

.flex-table {
  display: flex;
  flex-flow: row wrap;
  border-left: solid 1px black;
  transition: 0.5s;

  &:first-of-type {
    border-top: solid 1px $table-header-border;
  }

  &:first-of-type .flex-row {
    background-image: linear-gradient(to top right, #e2e2e2, #06aff0);
  }

  &.row:nth-child(odd) .flex-row {
    background: $row-bg;
  }

  &:hover {
    background: #F5F5F5;
    transition: 500ms;
  }
}

.flex-row {
  width: calc(100% / 5);
  text-align: center;
  padding: 0.5em 0.5em;
  border-right: solid 1px black;
  border-bottom: solid 1px black;

  &.title {
    color: #000;
    font-size: 20px;
    font-weight: bold;
  }
}


.rowspan {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
}

.column {
  display: flex;
  flex-flow: column wrap;
  width: 75%;
  padding: 0;

  .flex-row {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 0;
    border: 0;
    border-bottom: solid 1px $table-border;

    &:hover {
      background: #f5df88;
      transition: 500ms;
    }
  }
}

.flex-cell {
  width: calc(100% / 3); //1px = border right
  text-align: center;
  padding: 0.5em 0.5em;
  border-right: solid 1px $table-border;
  //flex: 1 1 33.3%;
  &:last-child {
    // border-right: 0;
  }
}

@media all and (max-width: 767px) {
  .flex-row {
    width: calc(100% / 3); //1px = border right

    &.first {
      width: 100%;
    }
  }

  .column {
    width: 100%;
  }
}

@media all and (max-width: 430px) {

  .flex-table {
    .flex-row {
      border-bottom: 0;
    }

    .flex-row:last-of-type {
      border-bottom: solid 1px black;
    }
  }

  .header {
    .flex-row {

      border-bottom: solid 1px;
    }
  }

  .flex-row {
    width: 100%; //1px = border right

    &.first {
      width: 100%;
      border-bottom: solid 1px $table-border;
    }
  }

  .column {
    width: 100%;

    .flex-row {
      border-bottom: solid 1px $table-border;
    }
  }

  .flex-cell {
    width: 100%; //1px = border right
  }
}

.contactList-item-DelBtn {
  font-size: 8px;
  margin: 4px 2px;
  background-image: linear-gradient(to top right, red, #f06d06);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.contactList-item-EditBtn {
  font-size: 8px;
  margin: 5px;
  background-color: lightgreen;
  color: black;
  border: 1px solid;
  cursor: pointer;
  font-weight: bold;
}

.id {
  overflow: hidden;
  padding-right: 4px;
}

.add-user-btn{
  font-size: 15px;
  margin: 5px;
  background-color: #ffffff;
  color: black;
  border: 1px solid;
  cursor: pointer;
  font-weight: bold;
  outline: none;
}

.form-submit-btn{
  background-color: #36c84d;
  color: #FFF;
  font-weight: bold;
}
